@import '../utils/mixins';
@import '../utils/variables';

.main {
  width: 100%;
  min-height: 100%;
  color: #000;
  font-size: 12px;
}

.app {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 50px;
  border-bottom: 2px solid $blue;
  margin-bottom: 50px;

  @include md {
    width: 750px;
  }

  @include lg {
    width: 970px;
  }

  @include xl {
    width: 1200px;
  }
}

.text {
  &--blue {
    color: $blue;
    font-weight: 700;
  }
}


