@import '../../utils/variables';

.compare {
  &__container {
    display: flex;
  }

  &__features {
    &--block {
      width: 200px;
      align-content: space-between;
      flex-wrap: wrap;
      border-right: $border-grey;
      display: flex;
    }
  }

  &__products {
    &--block {
      display: flex;
      overflow: hidden;
      width: 100%;
    }

    &--product {
      position: relative;
      min-width: 235px;
      float: left;
    }
  }
}

.different {
  background-color: $light-grey;
}