.compare {
  &__features {
    &--list {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    &--item {
      border-bottom: $border-grey;
      height: 30px;
      overflow: hidden;
      line-height: 30px;
      padding-left: 10px;
    }

    &--item:last-child {
      border-bottom: none;
    }
  }
}