.product {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 50px;
	margin-bottom: 30px;

	&__price {
		padding-bottom: 20px;
		border-bottom: $border-grey;

		&--num {
			font-weight: 700;
    	font-size: 1.2rem;
		}

		&--unit {
			display: block;
			color: #a0a0a0;
		}
	}

	&__title {
		display: block;
		font-size: 13px;
		min-height: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
	}

	&__image {
		& img {
			align-self: center;
    	width: 200px;
    	margin-left: auto;
    	margin-right: auto;
    	display: block;
		}
	}
}